﻿@model IEnumerable<crypto.Models.Currency>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellAtProfit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellAtLoss)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellAtProfit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellAtLoss)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, null)|
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, null)|
            @Html.ActionLink("Prices", "Index", "Prices", new { currencyId = item.Id }, null)|
            @Html.ActionLink("Trades", "Trades", "Prices", new { currencyId = item.Id }, null)|

        </td>
    </tr>
}

</table>
