﻿@model PagedList.IPagedList<crypto.Models.BankBalance>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <tr>
        <th>
            Balance
        </th>
        <th>
            Descripton
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripton)
            </td>
            
        </tr>
    }

</table>
@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="pagination_area">
                <div style="color:black;font-weight:bold;border-radius:2px;background-color:transparent;max-width:100px;text-align:center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
                <div style="padding-top:10px">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
new { id = page }));


                </div>

            </div>
        </div>
    </div>
}
