﻿﻿﻿﻿@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using System.Web.Mvc.Ajax
@using crypto
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crypt</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Content/theme2/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Content/theme2/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/Content/theme2/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="/Content/theme2/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/Content/theme2/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Content/theme2/assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/Content/theme2/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/Content/theme2/assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="/Content/theme2/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
               
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-end">
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    @if (User.Identity.Name == "admin@crypto.com")
                    {


                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/ProcessData">
                                <span class="menu-title">Process Data</span>
                                <i class="icon-graph menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Prices/Index">
                                <span class="menu-title">Prices</span>
                                <i class="icon-graph menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Prices/Buys">
                                <span class="menu-title">Buys</span>
                                <i class="icon-graph menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Prices/Sells">
                                <span class="menu-title">Sells</span>
                                <i class="icon-graph menu-icon"></i>
                            </a>
                        </li>
                    }


                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <!-- Page Title Header Starts-->
                    <div class="row page-title-header">
                        <div class="col-12">
                            <div class="page-header">
                                <h4 class="page-title">@ViewBag.ScreenName</h4>
                           </div>
                        </div>

                    </div>
                    <!-- Page Title Header Ends-->
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div style="background-color:white">
                                <div class="card-body">
                                   
                                    <div class="row" style="padding-top:10px">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020 . All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/Content/theme2/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/Content/theme2/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/Content/theme2/assets/js/shared/off-canvas.js"></script>
    <script src="/Content/theme2/assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/Content/theme2/assets/js/demo_1/dashboard.js"></script>
    <!-- End custom js for this page-->
    <script>
        $('.mydropdown').on('change', function () {
            var controlValue = this.value;

            if (controlValue != "" && controlValue != "0" && controlValue != null) {
                $("#btnNextLotLevel").removeAttr("hidden");

            }
            else {
                $("#btnNextLotLevel").attr("hidden", true);

            }

        });

        $('#btRefreshReportData').on('click', function () {
            var showFilter=$("#hiddenShowDataFilerDropdown").val();
             var supplierId = $("#SupplierId").val();
            var productId = $("#ProductId").val();
            var finishedGoodId = $("#FinishedGoodId").val();

            if (supplierId == "" || supplierId == "0" || supplierId == "undefined" || productId == "" || productId == "0" || productId == "undefined" || finishedGoodId == "" || finishedGoodId == "0" || finishedGoodId == "undefined") {
                    event.preventDefault();
                    alert("Please select a supplier/product/finished good")
                    return;
                }
            if (showFilter!="")
            {
               
                  var FilterId = $("#FilterId").val();
                if (finishedGoodId == "" || finishedGoodId == "0" || FilterId == "" || FilterId == "0" || finishedGoodId == "undefined" || FilterId == "undefined"|| finishedGoodId == undefined || FilterId == undefined) {
                    event.preventDefault();
                    alert("Please select  a filter.")
                    return;
                }
            }
            var controlValue = $("#reportFilterType").val();
            window.location.href = '/LotLevels/ReportData1?reportFilterType=' + controlValue;


        });
        $('#btRefreshReport2Data').on('click', function () {
            var controlValue = $("#report2FilterType").val();
            window.location.href = '/LotLevels/ReportData2?reportFilterType=' + controlValue;


        });
        $('#btRefreshReportGraph').on('click', function () {
            var controlValue = $("#report3FilterType").val();
            var reportName = $("#reportName").val();
            window.location.href = '/LotLevels/ReportDataGraph?reportFilterType=' + controlValue + "&reportName=" + reportName;


        });
          $('#reportFilterType').on('change', function() {
              if (this.value == 3) {
                  $("#divselectYear").hide();
                  $("#selectedYear").removeAttr("required");

              }
              else {
                  $("#divselectYear").show();
                  $("#selectedYear").attr("required","required");
              }
});
        $('.numbers').keyup(function () { 

           this.value = this.value.match(/^\d+\.?\d{0,5}/);
            
});
    </script>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>