﻿
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="~/BankBalances/Index">
                <span class="menu-title">Bank Balance</span>
                <i class="icon-graph menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/ComissionFees/Index">
                <span class="menu-title">Commissions</span>
                <i class="icon-graph menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Currencies/Index">
                <span class="menu-title">Currencies</span>
                <i class="icon-graph menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/Home/ProcessData">
                <span class="menu-title">Clear Data</span>
                <i class="icon-graph menu-icon"></i>
            </a>
        </li>
    </ul>