﻿@model crypto.Models.Price

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotInvestedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotInvestedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTokensInTheSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTokensInTheSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfitLoss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfitLoss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
