﻿@model crypto.Models.Price

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotInvestedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotInvestedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTokensInTheSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTokensInTheSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfitLoss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfitLoss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
