﻿@model PagedList.IPagedList<crypto.Models.Price>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Sells";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var easternZone = TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time");

}

<h2>Trades</h2>


<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            CurrencyName
        </th>
        <th>
            CurrencyTickerValue
        </th>
        <th>
            Action
        </th>

        <th>
            PortfolioValue
        </th>

        <th>
            CurrencyBuyValue

        <th>
            CurrencySellValue
        </th>
        <th>
            CurrentProfitLoss
        </th>
        <th>
            NumberOfTokensInTheSystem
        </th>
        <th>
            Trend
        </th>
        <th>
            Logs
        </th>

    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
<tr>
    <td>
        @TimeZoneInfo.ConvertTimeFromUtc(item.DateCreated.Value, easternZone);
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrencyName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrencyTickerValue)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Action)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.PortfolioValue)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.BuyValue)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrencySellValue)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrentProfitLoss)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.NumberOfTokensInTheSystem)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Trend)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Logs)
    </td>

    <td>
        @Html.ActionLink("Logs", "Logs", new { id = item.Id }) |
    </td>
</tr>
        }
    }

</table>
@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="pagination_area">
                <div style="color:black;font-weight:bold;border-radius:2px;background-color:transparent;max-width:100px;text-align:center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
                <div style="padding-top:10px">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
new { currencyId = Model.FirstOrDefault().CurrencyId, id = page }));


                </div>

            </div>
        </div>
    </div>
}